
.home{
    color: white;
    display: inline-block;
}
.block_commands{
    float: left;
    display: block;
    width: 360px;
    margin-left: 5%;
}
.block_machines{
    float: right;
    display: block;
    width: 360px;
}
.command{
    background-color: rgb(24, 24, 24);
    display: block;
}