body{
    margin: 0;
    background-image: url("../img/5026563.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /**background-color: white; **/
}
.main-page{
    position: relative;
    width: 1100px;
    height: 700px;
    margin: 1rem auto;
    background-color: rgba(70, 70, 70, 0.801);
    z-index: 1;
    box-shadow: 2px 2px 2px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
nav{
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
nav p{
    display: inline;
    color: white;
}
nav ul{
    display: inline;
}
nav{
    background-color: black;
    text-align: center;
}
nav ul li{
    display: inline-block;
    color: rgb(199, 199, 199);
    cursor: pointer;
}

nav ul li:hover{
    color: white;
    border-bottom: 2px solid white;
}